.ro0 td{background-color: #F60; color: white;}
.ro1 td{background-color: #8CD6F7;}
.ro2 td{background-color: #DDBAFF;}
.ro3 td{background-color: #B6DFFC;}
.ro4 td{background-color: #666;}
.ro5 td{background-color: #fff;}
.ro6 td{background-color: #666;}
.ro7 td{background-color: #666;}
.ro8 td{background-color: #666;}
.ro9 td{background-color: #666;}
.ro10 td{background-color: #666;}